.header-img{
    height: 50px;
}
.nav-option::hover {
    color: blue;
}
.header{
    width: 75%;
    margin: 0 auto;
    position: sticky;
    top: 0;
}
.profile-icon{
    color: white;
}

@media screen and (max-width: 576px){
    .header{
        width: 100%;
    }
    .profile-icon{
        width: 30px;
    }
}